.template{
    display: none;
}

em{
    color:darkorange;
}

.res{
    border: 0.5px solid black;
}

.results{
    height: 50vh;
    overflow-y: scroll;
}

#upload-btn{
	padding: 6px 29px;
	text-align: center;
}

#search_input{
	width: 99%;
	padding: 6px;
}

#filter_org, #filter_people, #filter_loc, #filter_year{
	width: 99%;
	padding: 3px;
}

#clear_filters{
	padding: 6px 18px;
	text-align: center;	
}

#edit-btn{
	margin-left: 200px;
}

#export-btn{
	margin-left: 20px;
}

#edit_mode_label{
	visibility: hidden;	
	width: max-content;
	color: red;
	margin-bottom: 5px;
}

#save-btn{
	margin-left: 50px;
	font-size: 14px;
}

#cancel-btn{
	margin-left: 20px;
	font-size: 14px;
}

#file_entities div[class^=col-]{
	border: 0.5px solid rgba(86,61,124,.2);
}

span.orig_text{
	font-size: 14px;
}

span.corrected_text{
	font-size: 14px;
	color: blue;	
}

span.code_text{
	font-size: 12px;	
}
span.kcode_text{
	font-size: 12px;	
}

#analyze_in_progress{
	display: none;
}
#analyze_finished{
	display: none;
}