.template{
    display: none;
}

em{
    color:darkorange;
}

.res{
    border: 0.5px solid black;
}

.results{
    height: 50vh;
    overflow-y: scroll;
}

#upload-btn{
	padding: 6px 29px;
	text-align: center;
}

#search_input{
	width: 99%;
	padding: 6px;
}

#filter_org, #filter_people, #filter_loc, #filter_year{
	width: 99%;
	padding: 3px;
}

#clear_filters{
	padding: 6px 18px;
	text-align: center;
}